.form_wrapper{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
width: 35%;
min-height: 600px;
background: #fff;
margin: 0 auto;
margin-top: 50px;
padding: 30px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
display: flex;
flex-direction: column;
align-items: center;
}
 .title{
font-size: 34px;
font-weight: 700;
color: #584bdd;
text-align: center;
margin: 15px;
}
input{
padding: 15px;
margin: 10px 0px;
width: 90%;
border: none;
border-radius: 30px;
background: #f7f9fc;
box-sizing: border-box;
border: 2px solid transparent;
transition: 0.3s ease-in-out;
}
input:hover {
  border: 2px solid #379bc0;
}
input:focus {
  outline: none;
  box-shadow: 0px 0px 5px 5px rgba(230, 218, 218, 0.62);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(230, 218, 218, 0.62);
  -moz-box-shadow: 0px 0px 5px 5px rgba(230, 218, 218, 0.62);
}
.sign_in_btn{
padding: 15px;
margin: 10px 0px;
width: 88%;
border: none;
border-radius: 30px;
background: #7f33ff;
color: white;
text-align: center;
box-sizing: border-box;
border: 3px solid transparent;
transition: 0.3s ease-in-out;
}
.sign_up{
display: inline;
}
.check_box{
  width: 88%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
}
input[type="checkbox"]{
  width: 30px;
}
input[type="checkbox"]:focus{
  box-shadow: none;
  
}